body.perform {
	color:white;
    background: #333;
}

body.perform a.sp_storypalette_home {
	color:white;
}

body.perform div.sp_navbar a:not(.sp_storypalette_home)
/*body.perform div.sp_navbar a:link,
body.perform div.sp_navbar a:visited,
body.perform div.sp_navbar a:hover,
body.perform div.sp_navbar a:active */{ 
  color:white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 10px;
  background-color: rgb(95,95,95);
}

body.perform div.sp_navbar a:hover,
body.perform div.sp_navbar a:focus {
  color:white;
}

body.perform .modal .modal-header h3 {
    color: black;
}

body.perform .sp_fixedheader i[class^="icon-"] { /* This sets the icons in the black header to the white variant */
  background-image: url("../img/glyphicons-halflings-white.png");
}
body.perform .sp_fixedheader { 
  background: #333;
}

div.performer_page {
  font-size:16px;
  line-height:20px;
  margin:0;
  padding:0;
  background: black;
 /* background:black url(../img/dev/1920_grid2.png) top left no-repeat; */
  color:white;
  margin-top: 10px;
}
div.performer_page strong,
div.performer_page b,
div.performer_page h1,
div.performer_page h2,
div.performer_page h3 {
  font-family: 'SourceSansPro';
  font-weight:bold;
  font-size:16px;
  line-height:20px;
  padding:0;
  margin:0;
}
div.performer_page {
	background:rgba(0,255,0,.1);
	background:none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

div.performer_page div.mainframe {
	position:absolute;
	margin:0 auto;
	top:0;
	width:960px;
	bottom:0px;
	box-sizing:border-box;
	overflow:scroll;
} 

div.performer_page div.control {
	box-sizing:border-box;
	width:240px;
	height:80px;
	/*background: rgba(55,55,55,0.8);*/
	float:left;
	border:1px solid rgb(51,51,51);
	padding:9px;
	position:relative;
}

div.performer_page div.sound_control {
background: #ffab95;
}

div.performer_page div.image_control {
background: #0f9fb7;
}

div.performer_page div.light_control {
background: #09bc72;
}

div.performer_page div.control a {
	display:block;
	box-sizing:border-box;
	height:60px;
	font-size:16px;
	line-height:60px;
	color:white;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(255,255,255,.20);
	border-radius:4px;
	text-transform:capitalize;
    position: relative;
}

div.performer_page div.control a img {
	box-sizing:border-box;
	display:block;
	height:60px;
	max-width:80px;
	float:left;
	margin-right:10px;
	border-radius:4px;
}
div.performer_page div.control a span {
    box-sizing:border-box;
    display:block;
    height:60px;
    width:80px;
    float:left;
    margin-right:10px;
    border-radius:4px;
    background: #fe8667; 
    text-align: center;
    font-weight: bold;
}
div.performer_page div.control a i {
	box-sizing:border-box;
	display:block;
	height:60px;
	/*float:left;*/
	width:220px;
    position: absolute;
    top: 0;
    left: 0;
	font-style:normal;
	font-family: 'SourceSansPro';
  	font-weight:bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    padding-left: 90px;
}

div.performer_page div.col {
	position:absolute;
	top:0;
	left:0;
	width:240px;
	bottom:0;
	background:rgba(255,255,0,.4);
	box-sizing:border-box;
	overflow:scroll;
} 
div.performer_page div.col div.scrollport {
	position:absolute;
	top:60px;
	left:10px;
	right:10px;
	bottom:10px;
	overflow:scroll;
	background:rgba(0,255,255,.4);
}
div.performer_page div.col2 {
	left:260px;
}

div.performer_page div.col3 {
	left:520px;
	width:500px;
}

div.performer_page div.col3 div.scrollport {
	bottom:60px;
	top:60px;
}

div.performer_page div.col3 div.toppanel {
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	height:40px;
	background:rgba(0,0,0,.5);
	border-radius:10px;
	line-height:40px;
	text-align:center;
	color:white;
	}
	
div.performer_page div.col3 div.bottompanel {
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
	height:40px;
	background:rgba(255,51,0,1);
	border-radius:10px;
	line-height:40px;
	text-align:center;
	color:white;
	}
	
div.performer_page div.stranger {
    position:absolute;
    top:1300px;
    left:700px;
    height:40px;
    width:120px;
    background:black;
    color:white;
    display:none;
}


div.performer_page input[type=range] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background:rgba(255,255,255,0.8);
    width: 220px;
        width: 100%;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1px;
}

div.performer_page input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border:0;
    border-radius: 4px;
    width: 38px;
    height: 38px;
}

div.performer_page div.sound_control input[type=range]::-webkit-slider-thumb {
    background: #fe8667;
}
div.performer_page div.light_control input[type=range]::-webkit-slider-thumb {
    background: #08ab68;
}


div.performer_page div.light_control b, 
div.performer_page div.sound_control b{
position:absolute;
top:55px;
/*z-index:-20;*/
text-transform:capitalize;
font-size:16px;
line-height:20px;
padding:0;
height:20px;
}
