// Application stylesheet. Import styles here.

// TODO: Import only the styles we use.
@import '../../vendor/bootstrap/less/bootstrap.less';

// Our Bootstrap customizations.
@import 'variables.less';

/** Hide cursor in Player */
body {
  color: grey;
  background: black;
}

#coverall {
  cursor: none !important;
  position: fixed;
  padding: 0;
  margin: 0; 
  width: 100%;
  height: 100%;
}


#waiting {
  position: absolute;
  //background: red;
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  width: 200px;
  text-align: center;
}

.fullscreenImage {
  z-index: 100;
  position: fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width: 100%;
}

.loading {
  padding: 50px;
  color: white;
}

.progress_wrapper {
  margin: 50px 0;
}

.inline {
  display: inline;
}
