<!DOCTYPE html>
<html ng-app="sp.player" ng-controller="AppCtrl">
  <head>
    <title>Storypalette Player</title>
    <meta charset="utf-8">

    <!-- compiled CSS --><% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- socket.io client js is served by storypalette-server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- server config info is served by storypalette-server -->
    <script src="/env.js"></script>

    <!-- compiled JS --><% scripts.forEach(function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <ui-view></ui-view>
  </body>
</html>
