<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelLogin()">&times;</button>
    <h3>Logga in</h3>
  </div>
  <form name="form" novalidate class="login-form">
    <div class="modal-body">
      <div class="alert alert-error" ng-show="authError">
        {{authError}}
      </div>
      <!--<div class="alert alert-info">Fyll i användarnamn och lösenord</div>-->
      <label>Användarnamn</label>
      <input name="login" type="text" ng-model="user.username" required autofocus>
      <label>Lösenord</label>
      <input name="pass" type="password" ng-model="user.password" required>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary login" ng-click="login()" ng-disabled="form.$invalid">Logga in</button>
    </div>
  </form>
</div>
